@charset "UTF-8";

body {
    font-size: 0.8rem;
    color: #333;
    background-color: #1A222A;
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Sans JP', sans-serif;
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 4%;
}

/* ================================
header
================================ */
#header {
    width: 100%;
    height: 80px;
    padding: 0 3%;
    background-color: #dbd5cc;
    position: fixed;
    top: 0;
    z-index: 10;
}

.logo {
    width: 200px;
    font-family: 'Merriweather', serif;
}

#header h1 {
    font-size: 2.8rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    line-height: 80px;
}

nav {
    font-family: 'Merriweather', serif;
    width: 300px;
    height: 100vh;
    padding: 2rem 2.5rem;
    background-color: #ffffffd9;
    z-index: 20;
    position: fixed;
    top: 0;
    left: -300px;
    transition: 0.6s;
    opacity: 0;
}

nav li {
    margin-bottom: 2rem;
    transition: 0.6s;
}
nav li a:hover {
    opacity: 0.6;
}

.nav-list {
    margin: 3rem 0;
    
}

.open nav {
    opacity: 1;
    left: 0;
}

.toggle-btn {
    width: 30px;
    height: 50px;
    position: fixed;
    top: 17px;
    right: 5%;
    z-index: 15;
}
.toggle-btn span {
    display: block;
    width: 100%;
    height: 3%;
    background-color: #333;
    position: absolute;
    transition: 0.5s;
}

.toggle-btn span:nth-child(1){
    top: 20%;
}
.toggle-btn span:nth-child(2){
    top: 40%;
}
.toggle-btn span:nth-child(3){
    top: 60%;
}

.open .toggle-btn span{
    background-color: #fff;
}
.open .toggle-btn span:nth-child(1) {
    transform: rotate(-315deg);
    top: 40%;
}
.open .toggle-btn span:nth-child(2) {
    opacity: 0;
}
.open .toggle-btn span:nth-child(3) {
    transform: rotate(315deg);
    top: 40%;
}

.open .mask {
    width: 100%;
    height: 100vh;
    background-color: #121212;
    position: fixed;
    display: block;
    top: 0;
    opacity: 0.8;
    z-index: 10;
}

@media screen and (max-width:768px){
    #header h1 {
        font-size: 2.3rem;
    }

    .logo {
        width: 100px;
    }
    
    nav {
        width: 250px;
    }    
}

/* ================================
main
================================ */
.img-box {
    margin-top: 50px;
    display: flex;
}

.img-box img {
    object-fit: cover;
    width: 50%;
    height: 80vh;
    opacity:0;
    animation: fadein 3s ease-out 0s 1 forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.reserve-btn {
    text-align: center;
}

.reserve-btn a{
    writing-mode: vertical-lr;
    color: #F6F6F6;
    font-family: 'Merriweather', serif;
    letter-spacing: 0.2rem;
    width: 3rem;
    height: 25vh;
    padding: 2rem 1rem;
    background-color: #BE9340;
    position: fixed;
    right: 0;
    bottom: 50px;
    z-index: 15;
}


/* ================================
sns
================================ */
.sns {
    position: relative;
    height: 200px;
}

.sns-area {
    display: flex;
    background-color: #fff;
    padding: 2rem;
    height: 35vh;
    width: 40%;
    position: absolute;
    top: -60px;
    left: 0;
}

.sns-ttl {
    writing-mode: vertical-lr;
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    margin-right: 1rem;
}

.sns-area iframe {
    width: 90%;
    margin-bottom: 1rem;
}

.sns-mask a{
    display: inline-block;
    /* background-color: #be944000; */
    /* background-color: #BE9340; */
    height: 35vh;
    width: 40%;
    position: absolute;
    top: -60px;
    left: 0;
    z-index: 30;
}

@media screen and (max-width:768px){
    .sns {
        height: 100px;
    }

    .sns-area {
        padding: 1rem;
        height: 25vh;
        width: 80%;
    }

    .sns-ttl {
        font-size: 0.8rem;
        margin-right: 0.3rem;
    }

    .sns-area iframe {
        margin-bottom: 0;
    }

    .sns-mask a{
        height: 25vh;
        width: 80%;
    }
}

/* ================================
concept
================================ */
.concept {
    padding: 3rem;
    margin: 3rem 0;
    background: linear-gradient(90deg, #EFEFF0 0%, #EFEFF0 50%, #F6F6F6 50%, #F6F6F6 100%);
    text-align: center;
}

.section-ttl {
    font-family: 'Merriweather', serif;
    display: inline-block;
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.2rem;
    border-bottom: solid 1px #333;
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0;
}

.fadein {
    animation: fadein 2s ease-out 0s 1 forwards;
}

@keyframes fadein {
    0%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.concept-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.concept-img,
.concept-text {
    width: 48%;
}

.concept-img img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.concept-img {
    opacity: 0;
}

.fadeimg {
    animation: fadeimg 2s ease-out 0s 1 forwards;
}

@keyframes fadeimg {
    0% {
        opacity: 0;
        transform: translateX(-30%);
    }
    100% {
        opacity: 1;
    }
}

.concept-text {
    text-align: justify;
    padding: 0 2rem;
}

.concept-text p {
    margin-bottom: 1rem;
}

@media screen and (max-width:768px){
    .concept {
        padding: 2rem;
    }
    
    .section-ttl {
        font-size: 1.3rem;
        padding-bottom: 1rem;
        margin-bottom: 1.2rem;    
    }
    
    .concept-item {
        flex-direction: column;
    }

    .concept-img,
    .concept-text {
        width: 100%;
    }

    .concept-img {
        margin-bottom: 1rem;
    }
    .concept-img img {
        height: 250px;
    }
    
    .concept-text {
        padding: 0 1rem;
    }
}

/* ================================
menu
================================ */
#menu {
    margin-bottom: 3rem;
}

.menu {
    width: 100%;
    height: 40vh;
    background-image: url(../img/menu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.menu a {
    color: #fff;
    font-size: 2.6rem;
    border: 1px solid #fff;
    padding: 1rem 0;
    display: block;
    width: 50%;
    text-align: center;
    letter-spacing: 1rem;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
}


.img-list {
    display: flex;
}

.img-list li {
    width: 25%;
}

.img-list img {
    width: 100%;
    height: 20vh;
    object-fit: cover;
}

@media screen and (max-width:768px){
    .menu a {
        font-size: 1.5rem;
        width: 60%;
    }    

}

/* ================================
reservation
================================ */
#reservation {
    margin-bottom: 3rem;
}

.reservation {
    padding: 3rem;
    margin-bottom: 3rem;
    background: linear-gradient(90deg, #F6F6F6 0%, #F6F6F6 50%, #EFEFF0 50%, #EFEFF0 100%);
    text-align: center;
}

.reservation-item img {
    width: 50%;
    height: 400px;
    object-fit: cover;
    opacity: 0;
}

.fadeimg2 {
    animation: fadeimg2 2s 0s forwards;
}


@keyframes fadeimg2 {
    0% {
        opacity: 0;
        transform: translateX(-30%);

    }
    100% {
        opacity: 1;
    }
}

.reservation-item p {
    margin: 1rem 0;
}

.reservation-item a {
    display: inline-block;
    width: 200px;
    padding: 1rem 0;
    color: #fff;
    background-color: #BE9340;
}

.reservation-item a:hover {
    opacity: 0.6;
}

@media screen and (max-width:768px){
    .reservation {
        padding: 2rem;
        margin-bottom: 3rem;
    }
    
    .reservation-item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
}


/* ================================
access
================================ */
.access {
    padding: 3rem;
    margin-bottom: 3rem;
    background-color: #F6F6F6;
    text-align: center;
}

.access-item {
    display: flex;
    justify-content: center;
}


.address {
    width: 40%;
    text-align: left;
}
.address h3 {
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
}

.address ul {
    margin-bottom: 3rem;
}

.address li {
    padding-left: 0.5rem;
    line-height: 1.8;
}

.map {
    width: 40%;
}

.map iframe {
    width: 100%;
    height: 300px;
}

@media screen and (max-width:768px){
    .access-item {
        flex-direction: column;
    }

    .address,
    .map{
        width: 100%;
    }
    
    .address h3 {
        font-size: 0.9rem;
        margin-bottom: 0.3rem;
    }

    .address ul {
        margin-bottom: 1rem;
    }
    
}

/* ================================
footer
================================ */
footer {
    background-color: #dbd5cc;
    height: 50px;
}

.copy {
    text-align: center;
    line-height: 50px;
    font-size: 0.6rem;
}

/* ================================
menu-page
================================ */
#menu-page {
    background: linear-gradient(90deg, #EFEFF0 0%, #EFEFF0 50%, #F6F6F6 50%, #F6F6F6 100%);
    text-align: center;
    margin-top: 100px;
}

.menu-ttl {
    margin-bottom: 1rem;
    font-size: 1.7rem;

}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 25px;
    text-align: left;
    margin-bottom: 4rem;
}

.items {
    border: 1px solid;
}

.items img {
    height: 200px;
    object-fit: cover;
    vertical-align: top;
}


@media screen and (max-width:768px){
    }